<div class="topnav">
    <a>Farming Assistant System</a> </div>
<div class="login">
    <h2>Login</h2><br>
        <form>
            <div class="form-group">
                <label>User Id:</label>
                <input type=text class="form-control" name="userId" [(ngModel)]="model.userId"><br>
                <label>Password:</label>
                <input type=password class="form-control" name="password" [(ngModel)]="model.password"><br>
                <label>Role</label> &nbsp;&nbsp;&nbsp;
                <select name="role" id="role" type="text" [(ngModel)]="model.role">
                    <option disabled hidden selected></option>
                    <option value="Farmer">Farmer</option>
                    <option value="Supplier">Supplier</option>
                    <option value="Retailer">Retailer</option>
                    <option value="Authority">Authority</option>
                  </select>
            </div>
        </form>
        <button (click)="login()" class="btn btn-sm btn-success">Log In</button>
        <pre>New user? <a routerLink="/register">Register</a></pre>
</div>

